<div class="modal fade" id="Modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Avatar</h4>
      </div>
      <div class="modal-body">
        <%= image_tag @user.avatar, id: "cropbox" %>

        <h4>Preview</h4>
        <div style="width:100px; height:100px; overflow:hidden">
          <%= image_tag @user.avatar, :id => "preview" %>
        </div>


      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>